# 1. 데이터타입

* 기본적으로 int, str, list, set, dictionary 등의 파이썬 자료형을 알고 있다는 가정하에 시작하겠습니다.
* 그 중 몇개의 특징만 간단히 보고 넘어갑시다.

## 1.1. Set

* set 은 중복을 허용하지 않고, 순서가 보장되지 않는 않는 데이터 타입입니다.
* 차집합, 교집합등을 구할때 유용합니다.

In [5]:
# set 자료형
s1 = set([1,2,3,4,5,6,7])
s2 = {4,5,6,7,8,9,10}
print(s1, s2)

{1, 2, 3, 4, 5, 6, 7} {4, 5, 6, 7, 8, 9, 10}

In [7]:
# 교집합
print(s1 & s2)
print(s1.intersection(s2))

{4, 5, 6, 7}
{4, 5, 6, 7}

In [9]:
# 합집합
print(s1|s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [12]:
# 차집합
print(s1 - s2)
print(s2 - s1)
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3}
{8, 9, 10}
{1, 2, 3}
{8, 9, 10}

In [39]:
# 대칭차집합 -> 교집합의 반대
print(s1 ^ s2)
print(s2 ^ s1)
print(s1.symmetric_difference(s2))

{1, 2, 3, 8, 9, 10}
{1, 2, 3, 8, 9, 10}
{1, 2, 3, 8, 9, 10}

* list, tuple, set은 서로 타입캐스팅이 가능합니다.
* 즉 중복이 있는 리스트의 중복제거나, 서로 다른 리스트들의 집합들을 구할때 유용합니다.

In [17]:
my_list = [1,2,3,99,1,2,4,5,3,2]
your_list = [1,44,98,99,1,3,4,5]

In [30]:
# 리스트 중복 제거 후 정렬
my_list = sorted(set(my_list))
print(my_list)
print(type(my_list))

[1, 2, 3, 4, 5, 99]
<class 'list'>

In [41]:
# my_list 와 your_list 의 차집합 구하기
their_list = list(set(my_list) - set(your_list))
print(their_list)

# 설명: my_list에만 있는 유니크한 값은 2 밖에 없다

[2] {1, 2, 3, 4, 5, 99, 98, 44}

In [24]:
# your_list 와 my_list의 차집합 구하기
our_list = list(set(your_list) - set(my_list))
print(our_list)

# 설명: your_list에만 있는 유니크한 값은 98과 44 이다.

[98, 44]

In [38]:
# my_list와 your_list의 대칭차집합
thy_list = list(set(my_list) ^ set(your_list))
print(thy_list)

# 설명: my_list 와 your_list의 모든 유니크한 값들은 98, 2, 44 이다.

[98, 2, 44]

## 1.2. 딕셔너리

<img src='https://hanamon.kr/wp-content/uploads/2021/07/Big-O-Complexity-Chart-1280x856.png'>

* 딕셔너리는 CS에서 해쉬라고 부르는 데이터 형식입니다.
* 딕셔너리는 시간복잡도가 O(1) 을 가집니다
* 이는 list 같은 iterable 자료형들 보다 훨씬 빠른 검색, 데이터 수정을 의미합니다. <br><br>
    * **시간복잡도란?**
        * 시간복잡도는 입력값과 연산 수행 시간의 상관관계를 나타내는 척도입니다.
        * ( 어떤 함수에 input 값이 많아질수록 연산하는데 걸리는 시간 )
        * 시간복잡도는 아래와 같은 표기법을 가지며, 위에서 아래로 내려갈 수록 느립니다.
    1. **O(1)**
        * 데이터가 몇개이던 연산하는데 시간이 증가하지 않습니다.
        * 1개의 데이터를 1초에 연산하는 함수가 있다 가정할때, 100개의 데이터가 들어와도 동일하게 1초가 걸립니다.
        * 10층 빌딩에 배달원이 주소가 303호 라고 알고 있으면 바로 찾아갈 수 있는것이라 생각합시다.
    2. **O(log N)**
        * 데이터가 N 개이면 연산하는데 log(N) 만큼의 시간이 증가합니다.
        * 1개의 데이터를 1초에 연ㅏㄴ하는 함수가 있다 가정할때, 100개의 데이터가 들어오면 log(100) = 2초가 걸립니다.
        * Binary Search Tree 알고리즘이 이 방법입니다.
        * 술게임 up down을 생각하면 됩니다. 
    3. **O(N)**
        * 데이터가 N개이면 연산하는데 똑같이 N만큼 시간이 증가합니다.
        * 1개의 데이터를 1초에 연산하는 함수가 있다 가정할때, 100개의 데이터가 들어오면 100초가 걸립니다.
        * 10층짜리 빌딩에 배달원이 주소를 모르면 최악의 경우 10층의 모든 집을 방문해야 합니다.
    4. **O(N^2)**
        * 데이터가 N개이면 연산하는데 N^2 시간만큼 걸립니다.
        * 내가 짠 함수가 O(N^2) 의 시간복잡도를 가지면 한번 내가 뭘 잘못했는지 생각해봅시다.
        * 친구집을 찾아가는데 현대 아파트 라는것만 알고 동, 호수를 모른다면 (동) * (호수) 를 모두 뒤져야 함으로 O(N^2)의 시간 복잡도를 가집니다.
    5. **O(N!)**
        * 데이터가 N개이면 연산하는데 N! 시간만큼 걸립니다.
        * 1개의 데이터를 1초에 연산하는 함수가 있다 가정할때, 100개의 데이터가 들어오면 1 * 2 * 3 * ... 99 * 100 초의 시간이 걸립니다.
        * 작정하고 함수를 만들지 않는 이상 볼일은 없을것입니다.

* 딕셔너리는 또한 json 과 상호 호환이 됩니다!

In [47]:
# 리스트를 사용한 데이터 탐색
user_id = 'king'
users_in_db = ['hong', 'song', 'dong', 'ding', 'dang', 'king', 'sang']

for i, user_in_db in enumerate(users_in_db):
    if user_id == user_in_db:
        print(i)

5

In [48]:
# 딕셔너리를 사용한 데이터 탐색
user_id = 'king'
users_in_dict_db = {'hong': 0, 'song':1, 'dong':2, 'ding':3, 'dang':4, 'king':5, 'sang': 6}
users_in_dict_db[user_id]

5

In [50]:
# 딕셔너리 키값 찾기:
for key in users_in_dict_db.keys():
    print(key)

hong
song
dong
ding
dang
king
sang

In [51]:
# 딕셔너리 벨류값 찾기:
for value in users_in_dict_db.values():
    print(value)

0
1
2
3
4
5
6

In [52]:
# 키, 밸류 둘다 찾기:
for key, value in users_in_dict_db.items():
    print(key, value)

hong 0
song 1
dong 2
ding 3
dang 4
king 5
sang 6

# 2. 사용자 정의 데이터

* 객체지향 프로그래밍을 들어보셨을것입니다.
* 어려운 내용은 넘어가고 우선 객체지향에서 말하는 객체란 곧 사용자 정의 데이터를 뜻합니다.
* 우리가 흔히 보는 ```class```가 바로 사용자 정의 데이터입니다.
* 이름을 저장해야 한다고 가정해 봅시다:

In [54]:
name = 'kingsan Yoon'
print(name)

kingsan Yoon

* 아무런 문제없는 데이터입니다.
* 하지만 위의 string 자료형만으론 kingsan이 성인지, Yoon이 성인지 성 과 이름이 fullname으로 구분되는지 알 수 없습니다.
* 그렇기때문에 우리는 어떠한 데이터에 규칙과 속성을 부여한 사용자 정의 데이터 = 객체를 만듭니다.

In [90]:
class FullName:
    def __init__(self, firstname: str, lastname: str) -> None:
        if len(firstname) > 10:
            raise Exception('First Name is too long!')
        self._firstname = firstname
        self._lastname = lastname
        
    def __repr__(self):
        return f'FullName Object!!!!!!!!!!!!'
    
    def __str__(self):
        return f'{self._firstname} {self._lastname}'

In [91]:
name2 = FullName('kingsan', 'Yoon')
name2

FullName Object!!!!!!!!!!!!

In [63]:
print(name2)

kingsan Yoon

In [92]:
# 만약 firstname 이 10글자 이상이면
name3 = FullName('kiiiiiiiiiiingsan', 'Yoon')
name3

Exception: First Name is too long!

* 보는것처럼 ```FullName```이라는 우리가 만든 데이터 타입을 이용해서 더 가독성있고 규칙이 있는 데이터를 만들었습니다.

In [88]:
class human:
    def __init__(self, first_name: str, last_name: str, age: int) -> None:
        self._first_name = first_name
        self._last_name = last_name
        self._age = age
    
    def __eq__(self, x: 'human') -> bool:
        return self._first_name == x._first_name and \
               self._last_name == x._last_name and \
               self._age == x._age
    
    def __ne__(self, x: 'human') -> bool:
        return not self == x

    def __lt__(self, x: 'human._age') -> bool:
        return True if self._age < x._age else False

    def __gt__(self, x: 'human._age') -> bool:
        return True if self._age > x._age else False
    
    def __le__(self, x: 'human._age') -> bool:
        return True if self._age <= x._age else False

    def __ge__(self, x: 'human._age') -> bool:
        return True if self._age >= x._age else False

In [89]:
yoshi = human('yo', 'shi', 20)
mario = human('ma', 'rio', 22)
print("yoshi 와 mario 는 같은 객체입니까?\t\t\t :", yoshi == mario)
print("yoshi의 나이(20) 은 mario 의 나이 (22) 보다 큽니까?\t :", yoshi > mario)
print("yoshi의 나이(20) 은 mario 의 나이 (22) 보다 작습니까?\t :", yoshi < mario)
yoshi2 = human('yo', 'shi', 20)
print("yoshi 와 yoshi2 는 같은 객체 입니까?\t\t :", yoshi == yoshi2)

yoshi 와 mario 는 같은 객체입니까?			 : False
yoshi의 나이(20) 은 mario 의 나이 (22) 보다 큽니까?	 : False
yoshi의 나이(20) 은 mario 의 나이 (22) 보다 작습니까?	 : True
yoshi 와 yoshi2 는 같은 객체 입니까?		 : True